*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.916) 100%);

}
    
#canvas {
    border-radius: 5%;
   border: solid 1px;
   height: 250px;
   width: 250px;
   opacity: 0.75;
  }